.Counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;
  text-align: -webkit-match-parent;
  padding: 8px;
}

.btnCount {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 30px;
  width: auto;
  padding: 12px;
  font-size: 8px;
  background: rgb(0, 0, 0);
  border-radius: 4px;
  display: flex;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
  font-size: smaller;
}

.btnAddCart {
  margin: 0 30px;
  width: auto;
  padding: 12px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  flex-grow: 0;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
  font-size: medium;
}

.numQuantity {
  font-size: 20px;
  padding: 20px;
  margin: 0;
  order: 1;
}
